@font-face {
  font-family: 'staticregular';
  src: font-url('static-webfont.eot');
  src: font-url('static-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('static-webfont.woff') format('woff'),
       font-url('static-webfont.ttf') format('truetype'),
       font-url('static-webfont.svg#staticregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.staticregular {
  font-family: "staticregular";
}
