@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -ms-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow1, $shadow2) {
  -webkit-box-shadow: $shadow1, $shadow2;
  -moz-box-shadow: $shadow1, $shadow2;
  -ms-box-shadow: $shadow1, $shadow2;
  -o-box-shadow: $shadow1, $shadow2;
  box-shadow: $shadow1, $shadow2;
}

$max-width: 1100px;
$big-width: 1024px;
$large-width: 900px;
$medium-width: 800px;
$small-width: 320px;

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

%clearfix:before,
%clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
%clearfix:after { clear: both; }
%clearfix { zoom: 1; } /* IE < 8 */

%h-title {
  font-family: staticregular;
  font-weight: 400;
  text-transform: uppercase;
}

.h-valign:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
  margin-left: -5px;
}

.h-valigned {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.h-lalign {
  float: left;
}

.h-ralign {
  float: right;
}

.i-download {
  display: block;
  width: 33px;
  height: 33px;
  background: url('../img/icons/download.png');

  &:hover {
    background: url('../img/icons/download-hover.png') no-repeat;
  }
}

.button {
  @extend %h-title;
  display: inline-block;
  width: 108px;
  height: 37px;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  font-family: "Helvetica Neu", Helvetica;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  @include border-radius(3px);
  @include transition(all .15s ease-out);
  &.download-link {
    width: 150px;
  }
  &:hover,
  &.button-primary {
    background: #fff;
    color: #444;
  }

  &.button-primary {
    height: 36px;
    width: 112px;
    border: 0;
    background: rgba(#fff, .9);
    color: #444;

    &.button-l {
      width: 184px;
      height: 59px;
    }

    &:hover {
      background: #fff;
    }
  }

  &.button-primary:hover {
    background: #fff;
  }

  &.button-l {
    width: 180px;
    height: 55px;
  }

  &.btn-documentation {
    border:2px solid #fff;
  }

  + .button {
    margin-left: 60px;
  }

  &.button-pink {
    border-color: #FF7373;
    color: #FF7373;

    &:hover {
      background: #FF7373;
      color: #fff;
    }

    &.button-primary {
      background: #FF7373;
      color: #fff;

      &:hover {
        background: darken(#FF7373, 5%);
      }
    }
  }
}

.header-inner,
.navbar-inner {
  position: absolute;
  top: 0;
  height: 90px;
}

.inner-l {
  left: 20px;
}

.inner-r {
  right: 20px;
}

@media (max-width: 640px) {
  .download-link {
    width: auto;
  }

  .show-mobile {
    display: inline-block;
  }

  .hide-mobile {
    display: none;
  }
}

@media (min-width: 640px) {
  .show-mobile {
    display: none;
  }

  .hide-mobile {
    display: inline-block;
  }
}

.margin-top-s{
  margin-top: 16px;
}
