// Overrides
// --------------------------------------------------

body {
  overflow: hidden;
  font: 400 15px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
}

.leaflet-container * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div.cartodb-timeslider {
  position: absolute;
  display: inline-block;
  height: auto;
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  text-align: left;
  z-index: 105;
}

.time,
.cartodb-logo,
.leaflet-control-attribution,
.cartodb-legend-stack,
.cartodb-tiles-loader {
  display: none !important;
}

div.cartodb-zoom {
  margin: 110px 0 0 40px !important;
}

div.cartodb-share  {
  position: absolute !important;
  margin: 190px 0 0 40px !important;
}

div.cartodb-timeslider {
  right: 40px !important;
  bottom: 80px !important;
  left: 75px !important;

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul {
    height: auto;
    line-height: 1;

    li {
      display: block;
      height: auto;
      line-height: 1;

      &.controls {
        position: absolute;
        z-index: 300;
        top: -19px;
        border-radius: 4px;
        border: 0;
        width: 52px;
        left: -54px;
        text-align: center;
      }
    }
  }

  .slider-wrapper {
    display: block;
    width: auto;
    padding: 0;
  }

  .slider {
    width: auto;
  }

  .ui-slider-horizontal {
    height: 2px;
  }

  .ui-slider {
    .ui-slider-handle {
      background: url("https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.11/themes/img/slider.png") no-repeat -99px -19px #fff;
    }

    .ui-slider-range {
      background: #B20000;
    }
  }
}
