// Footer
// --------------------------------------------------

.Footer {
  position: absolute;
  bottom: 20px;
  left: 40px;
  right: 40px;
  padding-top: 20px;
  color: rgba(#fff, .8);
}

.Footer-info {
  color: #fff;
}

.Footer-infoTitle {
  font-weight: 700;
  font-size: 18px;
}

.Footer-infoAttributions {
  font-size: 12px;
}

.Footer-infoAttributionsLink {
  color: #fff;
  text-decoration: none;
}
