// Notifications
// --------------------------------------------------

.Notifications {
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  z-index: 5;
  width: 360px;
}

.Notification-text {
  padding: 20px;
}

.Notification-image {
  max-width: 400px;
  max-height: 400px;
}

.Notification {
  display: none;
  float: right;
  width: 360px;
  background: rgba(#373B42, .8);
  opacity: 0;
  border-radius: 4px;
  margin-right: -30px;
  border: 1px solid rgba(#000, .2);

  &:first-child .Notification-inner {
    border-top: 0;
  }
}

.Notification-time {
  display: inline-block;
  margin-bottom: 12px;
  padding: 4px 8px 6px;
  border: 1px solid rgba(#fff, .8);
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(#fff, .8);
  border-radius: 4px;
}

.Notification-content {
  color: #fff;

  p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
}
