@font-face {
  font-family: 'staticregular';
  src: url('../fonts/static-webfont.eot');
  src: url('../fonts/static-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/static-webfont.woff') format('woff'),
       url('../fonts/static-webfont.ttf') format('truetype'),
       url('../fonts/static-webfont.svg#staticregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
