// Base
// --------------------------------------------------

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body { height: 100%; }

body {
  background-color: $body-background;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  color: $text-color;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
}

strong {
  font-family: 'Proxima Nova W01_S4';
}

@media all and (min-width: 0px) {
  body {
    font-weight: 300;
    font-style: Regular;
    font-family: 'Proxima Nova W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  strong {
    font-weight: 400;
    font-style: Semibold;
    font-family: 'Proxima Nova W01';
  }
}

a {
  text-decoration: none;
  color: $principal-color;

  &:hover {
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}

abbr {
  border-bottom: 1px dotted #ddd;
}

button {
  margin: 0;
  outline: none;
  cursor: pointer;
}
