// Variables
// --------------------------------------------------

$max-width: 1000px;
$large-width: 960px;
$medium-width: 750px;
$small-width: 400px;

$font-weight-base: 400;
$font-size-base: 15px;
$line-height-base: normal;
$font-family-base: 'Proxima Nova W01_R3', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-color: #333;
$body-background: #f8f8f8;

$principal-color: #2483B4;
