

#editor_dialog {
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: 20px;
  width: 600px;
  border-radius: 5px;
  text-align: left;
  background-color:#FFF;
  box-shadow: 0px 0px 5px #888888;
}

#editor_dialog h1 {
  background-color: rgb(255, 115, 115);
  color: white;
  line-height: 1em;
  margin: 0;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

textarea, .CodeMirror {
  color: rgba(0,0,0,0.9);
  background-color:#FFF;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 530px;
  border: none;
  font-family: monospace;
  font-size: 14px;
  border: 0;
  margin: 0;
  outline: none;
  padding: 20px 20px 20px 50px;
  height: 100%;
}

.actionButton {
  position: absolute;
  text-transform: uppercase;
  background-color: rgb(209, 209, 209);
  color: white;
  border-radius: 2px;
  padding: 3px;
  font-size: 9px;
}
.actionButton:hover {
  cursor: pointer;
}

#actionDropdown {
  background: white;
  width: 150px;
  z-index: 20;
  border: 1px solid #888;
  text-align: left;
}

#actionDropdown li {
padding: 5px;
list-style: none;
border-bottom: 1px solid #888;
}
