@import "compass/reset";

body{
  text-align: center;
  margin: 0; padding: 0;
  overflow: hidden;
  font-family: Helvetica;
  background: #EEE;
}

#template {
  position: absolute; 
  top: 0; left: 0;
  width:100%;
  height: 100%;
}