@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/font-face";

body{
  text-align: center;
  margin: 0; padding: 0;
  overflow: hidden;
  font-family: Helvetica;
  background: #EEE;
}

#template {
  position: absolute; 
  top: 0; 
  left: 0;
  width:100%;
  height: 100%;
}

#editor_modal {
  background: #ffffff url("../assets/img/greyBarBkg.png") repeat-y left top;
  position: absolute;
  right: 30px;
  top: 30px;
  bottom: 30px;
  width: 452px;
  text-align: left;
  @include border-radius(4px, 4px);

  &.expanded{
    width: 720px;
  }

	div.header {
    background: rgb(255, 115, 115) url("../assets/img/greyBarBkg.png") repeat-y left top;
	  color: white;
	  line-height: 1em;
	  margin: 0;
	  padding: 22px 20px 20px 16px;
    @include border-top-radius(4px);

    a.expandButton{
      background: transparent url("../assets/img/expandButtonIcon.png") no-repeat 0 0;
      padding: 4px 13px;

      &:hover{
        background-position: 0 -28px;
      }

      &.expanded{
        background-position: -27px 0; 

        &:hover{
          background-position: -27px -28px;
        }
      }
    }

    h1{
      display: inline;
      width: auto;
      margin: 0 0 0 35px;
    }

    select{
      position: absolute;
      top: 20px;
      right: 20px;
      width: 120px;
    }
	}

  textarea, .CodeMirror {
    position: absolute;
    top: 58px;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    color: rgba(0,0,0,0.9);
    background: transparent;
    font-family: monospace;
    font-size: 14px;
    padding: 20px 20px 20px 72px;
    overflow-x: hidden;
  }

  .actionButton {
    position: absolute;
    background-color: rgb(209, 209, 209);
    padding: 3px 3px 1px 3px;
    @include border-radius(2px, 2px);
    color: #FFF;
    font-size: 8px;
    text-transform: uppercase;
    
    &:hover{
      background-color: rgb(175, 175, 175);
      cursor: pointer;
    }
  }
}

#actionDropdown {
  background: white;
  width: 150px;
  z-index: 20;
  border: 1px solid #888;
  text-align: left;
}

#actionDropdown li {
  padding: 5px;
  list-style: none;
  border-bottom: 1px solid #888;
}
