@import "compass/reset";
@import "compass/css3/font-face";

@include font-face("AleoRegular", font-files("aleo-regular-webfont.woff", "aleo-regular-webfont.ttf", "aleo-regular-webfont.svg"), "aleo-regular-webfont.eot");
@include font-face("AleoBold", font-files("aleo-bold-webfont.woff", "aleo-bold-webfont.ttf", "aleo-bold-webfont.svg"), "aleo-bold-webfont.eot");
@include font-face("ProximaNovaBold", font-files("ProximaNova-bold.woff", "ProximaNova-bold.ttf", "ProximaNova-bold.svg"), "ProximaNova-bold.eot");

body { text-align: center; background: #EEE; }

#layout {
	width: 768px;
	margin: 0px auto;
  padding-top: 70px;
  background: #FFF;
  height: 2000px;
}

#map_pos {
  height: 400px;

  #map_container{
  	&.attachTop { position: fixed; width: 768px; top: 0; }
  }
}

#content {
  padding: 0 40px;
  height: 1500px;
}