@import "compass/reset";
@import "compass/css3/font-face";

@include font-face("AleoRegular", font-files("aleo-regular-webfont.woff", "aleo-regular-webfont.ttf", "aleo-regular-webfont.svg"), "aleo-regular-webfont.eot");
@include font-face("AleoBold", font-files("aleo-bold-webfont.woff", "aleo-bold-webfont.ttf", "aleo-bold-webfont.svg"), "aleo-bold-webfont.eot");
@include font-face("ProximaNovaBold", font-files("ProximaNova-bold.woff", "ProximaNova-bold.ttf", "ProximaNova-bold.svg"), "ProximaNova-bold.eot");

body {
  overflow: hidden;
}

#map { position: absolute;  top: 0; left: 0; width:100%; height: 100%; }

#slides_container {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 320px;
  padding: 40px;
  padding-right: 20px;
  background-color: rgba(255,255,255,0.5);

  .slide {
    overflow: auto;
    padding-right: 20px;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: ProximaNovaBold, Sans-serif;
    color: #333;
    font-size: 45px;
    // text-transform: uppercase;

    &:after{
      display: block;
      margin: 20px 0 20px 0;
      height: 3px;
      content: " ";
      text-shadow: none;
      background-color: #333;
      width: 140px;
    }
  }

  h2, h3, h4, h5, h6{
    font-size: 19px;

    &:after{
      height: 1px;
      margin: 18px 0 18px 0;
      width: 180px;
    }
  }


  p, span{
    font-family: AleoRegular, Serif;
    color: #333;
    font-size: 15px;
    line-height: 21px;
    margin: 0 0 19px 0;
  }

  a{
    color: #FF7373;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}

#dots{
  margin: 0 0 20px 0;

  li{
    display: inline;

    a{
      opacity: 0.2;
      color: #333;

      &:before {
        content: ' \25CF';
        font-size: 16px;
      }

      &.active{ opacity: 1; }
      &:hover{
        opacity: 1;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}



#slides_container img{
	//max-width: 400px;
	margin: 20px -40px 20px -40px;
	width: 125%;
}

ul#navButtons{
  margin: 20px 0 0 0;

  li{
    width: 30px;
    display: inline;

    a{
      display: inline-block;
      width: 23px;
      height: 30px;
      background: transparent image-url("navBtns.png") no-repeat -10px 0 ;
      &:hover{ background-position: -10px -30px; cursor: pointer;}

      &.next{
        background: transparent image-url("navBtns.png") no-repeat -30px 0;
        &:hover{ background-position: -30px -30px;}
      }
    }
  }
}

div#credits{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #FFF;

  span{
    padding: 13px 0 0 0;
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;

    &.title{
      left: 40px;
      font-family: ProximaNovaBold, Sans-serif;
      color: #333;
    }

    &.author{
      right: 40px;
      font-family: AleoRegular, Serif;
      color: #999;
      letter-spacing: 2px;
      font-size: 10px;
      text-align: right;
    }

  }
}

.slide-tip {
  position: absolute;
  top: -18px;
  width: 1px;
  height: 40px;
  background: #E0E0E0;

  .tip {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 10;
    top: -9px;
    height: 18px;
    margin-left: -21px;
    font: bold 11px/18px "Helvetica Neue", Helvetica;
    width: 42px;
    color: #fff;
    text-align: center;
    background: #ababab;
    border-radius: 2px;
    box-shadow: 0 1px 3px #FFF;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -7px;
    border-bottom: 5px solid #E0E0E0;
    bottom: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }

  &:hover {
    .tooltip {
      display: inline-block;
    }
  }

  .tooltip {
    position: relative;
    display: none;
    background: rgba(#000, 0.85);
    top: -88px;
    left: -17px;
    color: #FFF;
    padding: 10px;
    box-shadow: 0 1px 3px #FFF;

    h1, p {
      height: auto;
      padding: 0;
      margin: 0;
      text-align: left;
      color: #EEE;
      font-weight: normal;
      line-height: 1.1;
    }

    h1 {
      font-weight: bold;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 5px solid rgba(#000, .85);
      bottom: -5px;
      left: 10px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
  }
}

div.cartodb-timeslider .ui-slider .ui-slider-range {
  background-color: #FF7373;
}