@charset "UTF-8";
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "staticregular";
  src: url(/editor/assets/fonts/static-webfont.eot);
  src: url(/editor/assets/fonts/static-webfont.eot?#iefix) format('embedded-opentype'), url(/editor/assets/fonts/static-webfont.woff) format('woff'), url(/editor/assets/fonts/static-webfont.ttf) format('truetype'), url(/editor/assets/fonts/static-webfont.svg) format('svg');
}

/* line 7, ../sass/screen.scss */
body {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica;
  background: #EEE;
}

/* line 15, ../sass/screen.scss */
#template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/screen.scss */
.h-valign:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
  margin-left: -5px;
}

/* line 35, ../sass/screen.scss */
.splash {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}
/* line 44, ../sass/screen.scss */
.splash .splash_inner, .splash .inner-template {
  display: inline-block;
  vertical-align: middle;
}
/* line 48, ../sass/screen.scss */
.splash .inner-template {
  margin: 0 30px;
}
/* line 51, ../sass/screen.scss */
.splash h1 {
  font: 31px 'staticregular';
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
}
/* line 57, ../sass/screen.scss */
.splash p {
  font: normal 19px 'staticregular';
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 60px;
}
/* line 63, ../sass/screen.scss */
.splash .template_list > li {
  width: 262px;
  height: 227px;
  color:   #444444;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
}
/* line 75, ../sass/screen.scss */
.splash .template_list > li p {
  color: #444;
  font: normal 19px 'staticregular';
  margin: 0 0 20px 0;
}
/* line 76, ../sass/screen.scss */
.splash .template_list > li h2 {
  color: #444;
  font: normal 19px 'staticregular';
  margin-bottom: 8px;
  text-transform: uppercase;
}
/* line 77, ../sass/screen.scss */
.splash .template_list > li .button-template {
  display: inline-block;
  border: 2px solid #EC6258;
  padding: 8px 16px;
  font: normal 17px 'staticregular';
  color: #EC6258;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/* line 89, ../sass/screen.scss */
.splash .template_list > li:hover .button-template {
  background: #EC6258;
  color: #fff;
}
/* line 95, ../sass/screen.scss */
.splash .template_list > li:first-child {
  margin: 0;
}

/* line 101, ../sass/screen.scss */
#editor_modal {
  background: #fff;
  position: absolute;
  right: 30px;
  top: 30px;
  bottom: 80px;
  width: 452px;
  text-align: left;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 109, ../sass/screen.scss */
#editor_modal:before {
  content: "";
  position: absolute;
  left: 0;
  width: 55px;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 122, ../sass/screen.scss */
#editor_modal.expanded {
  width: 720px;
}
/* line 126, ../sass/screen.scss */
#editor_modal .error {
  text-align: center;
  background-color: #FFCCCC;
  color: #F00;
  position: absolute;
  padding: 10px;
  z-index: 2;
  font-size: 12px;
  letter-spacing: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 144, ../sass/screen.scss */
#editor_modal div.header {
  background: #ff7373 url("../assets/img/greyBarBkg.png") repeat-y left top;
  color: white;
  line-height: 1em;
  margin: 0;
  padding: 22px 20px 20px 16px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 152, ../sass/screen.scss */
#editor_modal div.header a.expandButton {
  background: transparent url("../assets/img/expandButtonIcon.png") no-repeat 0 0;
  padding: 4px 13px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
/* line 159, ../sass/screen.scss */
#editor_modal div.header a.expandButton:hover {
  background-position: 0 -28px;
}
/* line 163, ../sass/screen.scss */
#editor_modal div.header a.expandButton.expanded {
  background-position: -27px 0;
}
/* line 166, ../sass/screen.scss */
#editor_modal div.header a.expandButton.expanded:hover {
  background-position: -27px -28px;
}
/* line 172, ../sass/screen.scss */
#editor_modal div.header h1 {
  display: inline;
  width: auto;
  margin: 0 0 0 35px;
  font: 19px 'staticregular';
  text-transform: uppercase;
}
/* line 180, ../sass/screen.scss */
#editor_modal div.header #show_slide {
  position: absolute;
  top: 20px;
  right: 20px;
  font: 19px 'staticregular';
  padding-right: 19px;
  cursor: pointer;
}
/* line 187, ../sass/screen.scss */
#editor_modal div.header #show_slide:after {
  content: "";
  position: absolute;
  right: 0;
  top: 42%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
}
/* line 200, ../sass/screen.scss */
#editor_modal textarea, #editor_modal .CodeMirror {
  position: absolute;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  color: rgba(0, 0, 0, 0.9);
  background: transparent;
  font-family: monospace;
  font-size: 14px;
  padding: 80px 20px 20px 72px;
  overflow-x: hidden;
}
/* line 215, ../sass/screen.scss */
#editor_modal .actionButton {
  position: absolute;
  background-color: #d1d1d1;
  padding: 3px 3px 1px 3px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  color: #FFF;
  font-size: 8px;
  text-transform: uppercase;
}
/* line 224, ../sass/screen.scss */
#editor_modal .actionButton:hover {
  background-color: #afafaf;
  cursor: pointer;
}

/* line 231, ../sass/screen.scss */
#actionDropdown {
  position: relative;
  width: 150px;
  z-index: 20;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 241, ../sass/screen.scss */
#actionDropdown li:last-child {
  border-bottom: 0px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 247, ../sass/screen.scss */
#actionDropdown li {
  list-style: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px;
  font-size: 12px;
}
/* line 252, ../sass/screen.scss */
#actionDropdown li:hover {
  cursor: pointer;
  background: #f9f9f9;
}
/* line 257, ../sass/screen.scss */
#actionDropdown li:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 260, ../sass/screen.scss */
#actionDropdown li:first-child:hover:before {
  border-bottom: 8px solid #f9f9f9;
}
/* line 263, ../sass/screen.scss */
#actionDropdown li:first-child:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  left: 10px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  z-index: 1;
}
/* line 274, ../sass/screen.scss */
#actionDropdown li:first-child:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  left: 10px;
  top: -17px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}
/* line 285, ../sass/screen.scss */
#actionDropdown li:last-child {
  border-bottom: 0px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 292, ../sass/screen.scss */
#actionDropdown.drop-right li:first-child:before {
  right: 10px;
  left: auto;
}
/* line 296, ../sass/screen.scss */
#actionDropdown.drop-right li:first-child:after {
  right: 10px;
  left: auto;
}

/* line 305, ../sass/screen.scss */
.options {
  background: #FAFAFA;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 8px 6px 20px;
  position: relative;
  z-index: 1;
  margin-left: 56px;
  text-align: right;
}
/* line 313, ../sass/screen.scss */
.options a {
  display: inline-block;
  width: 33px;
  height: 33px;
  display: inline-block;
  opacity: .8;
  position: relative;
  z-index: 1;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
/* line 325, ../sass/screen.scss */
.options a:hover {
  opacity: 1;
}

/* line 331, ../sass/screen.scss */
a.downloadButton {
  background: transparent url("../assets/img/downloadButtonIcon.png") no-repeat 0 0;
}

/* line 335, ../sass/screen.scss */
a.helpButton {
  background: transparent url("../assets/img/helpButtonIcon.png") no-repeat 0 0;
}

/* line 339, ../sass/screen.scss */
a.shareButton {
  background: transparent url("../assets/img/shareButtonIcon.png") no-repeat 0 0;
}
