/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
body {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica;
  background: #EEE;
}

/* line 13, ../sass/screen.scss */
#template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/screen.scss */
#editor_modal {
  background: white url("../assets/img/greyBarBkg.png") repeat-y left top;
  position: absolute;
  right: 30px;
  top: 30px;
  bottom: 80px;
  width: 452px;
  text-align: left;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 31, ../sass/screen.scss */
#editor_modal.expanded {
  width: 720px;
}
/* line 35, ../sass/screen.scss */
#editor_modal div.header {
  background: #ff7373 url("../assets/img/greyBarBkg.png") repeat-y left top;
  color: white;
  line-height: 1em;
  margin: 0;
  padding: 22px 20px 20px 16px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 43, ../sass/screen.scss */
#editor_modal div.header a.expandButton {
  background: transparent url("../assets/img/expandButtonIcon.png") no-repeat 0 0;
  padding: 4px 13px;
}
/* line 47, ../sass/screen.scss */
#editor_modal div.header a.expandButton:hover {
  background-position: 0 -28px;
}
/* line 51, ../sass/screen.scss */
#editor_modal div.header a.expandButton.expanded {
  background-position: -27px 0;
}
/* line 54, ../sass/screen.scss */
#editor_modal div.header a.expandButton.expanded:hover {
  background-position: -27px -28px;
}
/* line 60, ../sass/screen.scss */
#editor_modal div.header h1 {
  display: inline;
  width: auto;
  margin: 0 0 0 35px;
}
/* line 66, ../sass/screen.scss */
#editor_modal div.header select {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 120px;
}
/* line 74, ../sass/screen.scss */
#editor_modal textarea, #editor_modal .CodeMirror {
  position: absolute;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  color: rgba(0, 0, 0, 0.9);
  background: transparent;
  font-family: monospace;
  font-size: 14px;
  padding: 20px 20px 20px 72px;
  overflow-x: hidden;
}
/* line 89, ../sass/screen.scss */
#editor_modal .actionButton {
  position: absolute;
  background-color: #d1d1d1;
  padding: 3px 3px 1px 3px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  color: #FFF;
  font-size: 8px;
  text-transform: uppercase;
}
/* line 98, ../sass/screen.scss */
#editor_modal .actionButton:hover {
  background-color: #afafaf;
  cursor: pointer;
}

/* line 105, ../sass/screen.scss */
#actionDropdown {
  background: white;
  width: 150px;
  z-index: 20;
  border: 1px solid #888;
  text-align: left;
}
/* line 112, ../sass/screen.scss */
#actionDropdown li {
  padding: 5px;
  list-style: none;
  border-bottom: 1px solid #888;
}
