/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
body {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica;
  background: #EEE;
}

/* line 13, ../sass/screen.scss */
#template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/screen.scss */
#editor_modal {
  background: #fff;
  position: absolute;
  right: 30px;
  top: 30px;
  bottom: 80px;
  width: 452px;
  text-align: left;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 29, ../sass/screen.scss */
#editor_modal:before {
  content: "";
  position: absolute;
  left: 0;
  width: 55px;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 42, ../sass/screen.scss */
#editor_modal.expanded {
  width: 720px;
}
/* line 46, ../sass/screen.scss */
#editor_modal .error {
  text-align: center;
  background-color: #FFCCCC;
  color: #F00;
  position: absolute;
  padding: 10px;
  z-index: 2;
  font-size: 12px;
  letter-spacing: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 64, ../sass/screen.scss */
#editor_modal div.header {
  background: #ff7373 url("../assets/img/greyBarBkg.png") repeat-y left top;
  color: white;
  line-height: 1em;
  margin: 0;
  padding: 22px 20px 20px 16px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 72, ../sass/screen.scss */
#editor_modal div.header a.expandButton {
  background: transparent url("../assets/img/expandButtonIcon.png") no-repeat 0 0;
  padding: 4px 13px;
  z-index: 1;
  position: relative;
}
/* line 78, ../sass/screen.scss */
#editor_modal div.header a.expandButton:hover {
  background-position: 0 -28px;
}
/* line 82, ../sass/screen.scss */
#editor_modal div.header a.expandButton.expanded {
  background-position: -27px 0;
}
/* line 85, ../sass/screen.scss */
#editor_modal div.header a.expandButton.expanded:hover {
  background-position: -27px -28px;
}
/* line 91, ../sass/screen.scss */
#editor_modal div.header h1 {
  display: inline;
  width: auto;
  margin: 0 0 0 35px;
}
/* line 97, ../sass/screen.scss */
#editor_modal div.header select {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 120px;
}
/* line 105, ../sass/screen.scss */
#editor_modal textarea, #editor_modal .CodeMirror {
  position: absolute;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  color: rgba(0, 0, 0, 0.9);
  background: transparent;
  font-family: monospace;
  font-size: 14px;
  padding: 20px 20px 20px 72px;
  overflow-x: hidden;
}
/* line 120, ../sass/screen.scss */
#editor_modal .actionButton {
  position: absolute;
  background-color: #d1d1d1;
  padding: 3px 3px 1px 3px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  color: #FFF;
  font-size: 8px;
  text-transform: uppercase;
}
/* line 129, ../sass/screen.scss */
#editor_modal .actionButton:hover {
  background-color: #afafaf;
  cursor: pointer;
}

/* line 136, ../sass/screen.scss */
#actionDropdown {
  position: relative;
  width: 150px;
  z-index: 20;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background: #fff;
}
/* line 145, ../sass/screen.scss */
#actionDropdown li:last-child {
  border-bottom: 0px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 151, ../sass/screen.scss */
#actionDropdown li {
  list-style: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px;
  font-size: 12px;
}
/* line 156, ../sass/screen.scss */
#actionDropdown li:hover {
  cursor: pointer;
  background: #f9f9f9;
}
/* line 161, ../sass/screen.scss */
#actionDropdown li:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 164, ../sass/screen.scss */
#actionDropdown li:first-child:hover:before {
  border-bottom: 8px solid #f9f9f9;
}
/* line 167, ../sass/screen.scss */
#actionDropdown li:first-child:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  left: 10px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  z-index: 1;
}
/* line 178, ../sass/screen.scss */
#actionDropdown li:first-child:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  left: 10px;
  top: -17px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}
/* line 189, ../sass/screen.scss */
#actionDropdown li:last-child {
  border-bottom: 0px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 196, ../sass/screen.scss */
#actionDropdown.drop-right li:first-child:before {
  right: 10px;
  left: auto;
}
/* line 200, ../sass/screen.scss */
#actionDropdown.drop-right li:first-child:after {
  right: 10px;
  left: auto;
}
