/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194@cartodb/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "AleoRegular";
  src: url(/editor/assets/fonts/aleo-regular-webfont.eot);
  src: url(/editor/assets/fonts/aleo-regular-webfont.eot?#iefix) format('eot'), url(/editor/assets/fonts/aleo-regular-webfont.woff) format('woff'), url(/editor/assets/fonts/aleo-regular-webfont.ttf) format('truetype'), url(/editor/assets/fonts/aleo-regular-webfont.svg) format('svg');
}

@font-face {
  font-family: "AleoBold";
  src: url(/editor/assets/fonts/aleo-bold-webfont.eot);
  src: url(/editor/assets/fonts/aleo-bold-webfont.eot?#iefix) format('eot'), url(/editor/assets/fonts/aleo-bold-webfont.woff) format('woff'), url(/editor/assets/fonts/aleo-bold-webfont.ttf) format('truetype'), url(/editor/assets/fonts/aleo-bold-webfont.svg) format('svg');
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url(/editor/assets/fonts/ProximaNova-bold.eot);
  src: url(/editor/assets/fonts/ProximaNova-bold.eot?#iefix) format('eot'), url(/editor/assets/fonts/ProximaNova-bold.woff) format('woff'), url(/editor/assets/fonts/ProximaNova-bold.ttf) format('truetype'), url(/editor/assets/fonts/ProximaNova-bold.svg) format('svg');
}

/* line 8, ../sass/slides.scss */
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 10, ../sass/slides.scss */
#slides_container {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 320px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 22, ../sass/slides.scss */
#dots {
  margin: 0 0 20px 0;
}
/* line 25, ../sass/slides.scss */
#dots li {
  display: inline;
}
/* line 28, ../sass/slides.scss */
#dots li a {
  opacity: 0.2;
  color: #333;
}
/* line 32, ../sass/slides.scss */
#dots li a:before {
  content: ' \25CF';
  font-size: 16px;
}
/* line 37, ../sass/slides.scss */
#dots li a.active {
  opacity: 1;
}
/* line 38, ../sass/slides.scss */
#dots li a:hover {
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
}

/* line 47, ../sass/slides.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: ProximaNovaBold, Sans-serif;
  color: #333;
  font-size: 45px;
  text-transform: uppercase;
}
/* line 53, ../sass/slides.scss */
h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
  display: block;
  margin: 20px 0 20px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #333;
  width: 140px;
}

/* line 64, ../sass/slides.scss */
h2, h3, h4, h5, h6 {
  font-size: 19px;
}
/* line 67, ../sass/slides.scss */
h2:after, h3:after, h4:after, h5:after, h6:after {
  height: 1px;
  margin: 18px 0 18px 0;
  width: 180px;
}

/* line 75, ../sass/slides.scss */
p, span {
  font-family: AleoRegular, Serif;
  color: #333;
  font-size: 15px;
  line-height: 21px;
  margin: 0 0 19px 0;
}

/* line 83, ../sass/slides.scss */
a {
  color: #FF7373;
  text-decoration: none;
}
/* line 87, ../sass/slides.scss */
a:hover {
  text-decoration: underline;
}

/* line 92, ../sass/slides.scss */
#slides_container img {
  max-width: 400px;
  margin: 20px 0 20px -40px;
}

/* line 97, ../sass/slides.scss */
ul#navButtons {
  margin: 20px 0 0 0;
}
/* line 100, ../sass/slides.scss */
ul#navButtons li {
  width: 30px;
  display: inline;
}
/* line 104, ../sass/slides.scss */
ul#navButtons li a {
  display: inline-block;
  width: 23px;
  height: 30px;
  background: transparent url("../assets/img/navBtns.png") no-repeat -10px 0;
}
/* line 109, ../sass/slides.scss */
ul#navButtons li a:hover {
  background-position: -10px -30px;
  cursor: pointer;
}
/* line 111, ../sass/slides.scss */
ul#navButtons li a.next {
  background: transparent url("../assets/img/navBtns.png") no-repeat -30px 0;
}
/* line 113, ../sass/slides.scss */
ul#navButtons li a.next:hover {
  background-position: -30px -30px;
}

/* line 119, ../sass/slides.scss */
div#credits {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #FFF;
}
/* line 127, ../sass/slides.scss */
div#credits span {
  padding: 13px 0 0 0;
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 133, ../sass/slides.scss */
div#credits span.title {
  left: 80px;
  font-family: ProximaNovaBold, Sans-serif;
  color: #333;
}
/* line 139, ../sass/slides.scss */
div#credits span.author {
  right: 80px;
  font-family: AleoRegular, Serif;
  color: #999;
  letter-spacing: 2px;
  font-size: 10px;
  text-align: right;
}
